html,
.login-page {
    height: 100%;
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-variation-settings: 'wght' 400;
    src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background: url("../img/Background-medium.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: #282A35;
    line-height: 1.75rem;
    @media screen and (max-width: 480px) {
        font-size: 0.75rem;
        line-height: 1.25rem;
    }
}

.form-signin {
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.form-signin .checkbox {
    font-variation-settings: 'wght' 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="password"], .form-signin input[type="text"] {
    margin-bottom: 10px;
    font-size: 16px;
    min-height: 1rem;
    max-height: 2.5rem;
    border-radius: 0;
    border: 1px solid #282A35;
    @media screen and (max-width: 480px) {
        font-size: 0.75rem;
        line-height: 1.75rem;
    }
}

.form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown),
.form-floating > .pf-c-input-group > .form-control:focus,
.form-floating > .pf-c-input-group > .form-control:not(:placeholder-shown) {
    padding: 0 0.5rem;
}

.form-floating input.form-control {
    height: calc(3.5rem + 2px);
}

#kc-header {
    padding: 40px 40px 20px;
}

#kc-header-wrapper {
    font-size: 2.90rem !important;
    visibility: hidden;
    padding: 0px 0px 20px;
}

#kc-page-title {
    font-size: calc(1.1rem + 0.75vw);
    text-align: center;
    @media screen and (max-width: 480px) {
        font-size: 1.25rem;
    }
}

h1#kc-page-title {
    margin-top: 20px;
}

#kc-content, #kc-content-wrapper {
    display: flex;
    flex-direction: column;
}

#kc-content-wrapper {
    margin-top: 0;
}

.kc-social-gray {
    color: #282A35;
}

.kc-social-section h4 {
    font-size: calc(1rem + 0.3vw);
}

#kc-locale {
    margin-bottom: 5px;
    @media screen and (max-width: 480px) {
        top: 10px;
    }
}

#kc-locale ul {
    top: 2px;
}

#kc-locale-dropdown a {
    @media screen and (max-width: 480px) {
        font-size: calc(0.75rem + 0.5vw);
    }
}

.button-basic {
    background-color: #282A35;
    border-color: #282A35;
    color: #ffffff;
    border-radius: 0;
}

.button-basic:hover {
    color: #ffffff;
    background-color: #616470;
    border-color: #616470;
}

.login-card {
    margin: 0 10px 20px;
    padding: 0.5rem 2rem 2rem;
    max-width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: relative;
    @media screen and (max-width: 480px) {
        margin: 0 20px 20px;
        padding: 0.5rem 1rem 2rem;
    }
}

.login-header {
    margin-bottom: 20px;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    text-align: center;
    @media screen and (max-width: 480px) {
        background-position: initial;
        background-size: contain;
        margin: 0 10px;
    }
}

.login-info {
    background-color: #ffffff !important;
    margin: 10px 20px 10px;
    font-family: inherit;
    text-align: center;
}

.locale-section {
    width: 100%;
}

.locale-dropdown {
    a {
        color: #282A35;
    }
}

.form-label {
    padding: 0 !important;
    position: relative !important;
    font-size: 0.875rem;
    @media screen and (max-width: 480px) {
        font-size: 0.75rem;
    }
}

.form-control {
    border-radius: 0;
    height: 33px;
    min-height: 1rem;
    max-height: 2.5rem;
}

a {
    color: #286C77;
    &:hover {
        color: #286C77;
    }
}

a#kc-current-locale-link::after {
    content: '';
}


/* login only */
#kc-info {
    margin: 0px -30px -30px;
    &.login-info-text {
        margin: 0px -40px;
    }
}

/* register only */
#kc-register-form {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

#kc-form-login {
    margin-bottom: 2rem;
}

#kc-info-wrapper {
    font-size: inherit;
    padding: 5px 35px;
}

.retry-code {
    margin-top: 1rem;
}

#retry-wrapper {
    margin: 1.5rem 0;
}

strong {
    font-variation-settings: 'wght' 700;
}

#sms-title {
    font-size: 20px;
    margin-bottom: 2rem;
}

.sms-instructions {
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 1rem;
    @media screen and (max-width: 480px) {
        font-size: 0.75rem;
        line-height: 1.25rem;
    }
}

.header-image {
    width: 100%;
}

p.instruction {
    margin-top: 10px;
}

div.alert-warning.pf-c-alert.pf-m-inline.pf-m-warning {
    line-height: 1.25rem;
}

.alert-info {
    margin-top: 0.75rem;
}

#logout-sessions {
    margin-top: 7px;
}

#sms-number-help {
    display: flex;
    justify-content: center;
    padding: 0rem 0.5rem;
    span {
        text-align: center;
    }
}

button.pf-c-button.pf-m-control  {
    border: 1px solid #282A35;
    min-height: 1rem;
    max-height: 2.5rem;
    height: calc(3.5rem + 2px);
    --pf-c-button--after--BorderColor: transparent;
}

#retry-wrapper {
  margin-bottom: 1.5rem;
  padding-left: 0.2rem;
  text-align: start;

  input.w-100.btn.btn-lg.button-basic.pf-m-primary.pf-m-block.btn-lg {
    color: #286C77;
    background-color: transparent;
    border: 0;
    border-style: none;
    box-shadow: none;
    font-size: 1rem;
    text-decoration: underline;
    text-align: start;
    padding &:hover {
      color: #286C77;
    }
  }
}

.instruction.verify {
  text-align: center;
}

.instruction.resend-help {
  padding: 0 2rem;
}

.password-requirements {
  margin: 1rem 0;
  padding: 0;
}

.password-requirements h4 {
  font-size: 0.875rem;
  font-weight: 400;
  color: #282A35;
  margin: 0 0 0.5rem 1.25rem;
  @media screen and (max-width: 480px) {
    font-size: 0.75rem;
  }
}

.password-requirements ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.password-requirements li {
  font-size: 0.8rem;
  margin: -0.25rem 1.75rem;
  color: #282A35;
  padding-left: 1rem;
  position: relative;
  @media screen and (max-width: 480px) {
    font-size: 0.7rem;
  }
}

.password-requirements li::before {
  content: "•";
  color: #282A35;
  font-weight: bold;
  position: absolute;
  left: 0;
}
