html,
.login-page {
  height: 100%;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");  
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: url("../img/background.png") no-repeat center center fixed;
  background-size: cover;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  color: #282A35;
}

.form-signin {
  width: 100%;
  max-width: 500px;
  /* height: 100%; */
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input {
  margin-bottom: 10px;
  font-size: 20px;
  min-height: 1rem;
  max-height: 2.5rem;
  border-radius: 0;
}

/* .form-signin input[type="password"] {
  margin-bottom: 10px;
  font-size: 20px;
  min-height: 1rem;
  max-height: 2.5rem;
  border-radius: 0;
} */

#kc-header-wrapper {
  font-size: 2.90rem !important;
  visibility: hidden;
  padding: 0px 0px 20px;
}

#kc-page-title {
  font-size: calc(1.1rem + 0.75vw);
  text-align: center;
  margin-top: 20px;
}

.kc-social-gray {
  color: #282A35;
}

.button-basic {
  background-color: #282A35;
  border-color: #282A35;
  color: #ffffff;
  border-radius: 0;
}

.button-basic:hover {
  color: #ffffff;
  background-color: #616470;
  border-color: #616470;
}

.login-card {
    margin: 0 auto;
    padding: 10px 30px;
    max-width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.login-header {
    margin-bottom: 20px !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    text-align: center;
    background: transparent no-repeat center;
    background-image: url("../img/oicr-logo.svg");
}

.login-info {
  font-size: 1rem !important;
  background-color: #ffffff !important;
  margin: 10px 20px 10px;
  font-family: inherit;
  text-align: center;
}

.locale-section {
    width: 100%;
}

.locale-dropdown {
    margin-top: 10px;
    a {
      color: #282A35;
    }
}

.form-label {
    padding: 0px 0px 0px 0px !important;
    position: relative !important;
}

.form-control {
  border-radius: 0;
}

a {
  color: #2C77F6;
  text-decoration: none;
}

#kc-current-locale-link a::after {
  visibility: hidden;
}